<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
  <p>Searching for other player</p>
    <button onClick="senMsg()">Hit Me</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:8081/host");
      socket.on("message", function(data) {
      server_data = JSON.parse(data);
      if (server_data.status == 1) {
        url = server_data.hash_url
        player = server_data.hash_player
        message = {
          "hash_url": url,
          "hash_player": player,
          "name": "{{ user }}"
        };
        socket.emit("message", JSON.stringify(message));
        };
        if (server_data.status == 2) {
        window.location = "http://localhost:8080/#/" + url + player;
        };
      });
      function sendMsg() {
        socket.emit("message", "HELLO WORLD");
      }
    </script>
  </body>
</html>